.app-header {
    font-family: 'Montserrat-SemiBold';
    font-size: em(16px);
    background-color: $website-primary;
    color: white;
  
    .navbar {
      display: flex;
      gap: 15px;
  
      a {
        height: 60px;
        transition: color 0.2s;
        width: 100px;
        @include flexAlign(center, center);
  
        &:hover {
          opacity: 0.85;
        }
  
        &.active {
          box-shadow: inset 0px -8px 0 0 #1d1d1dbe;
        }
      }
    }
  }