// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 640px;
$break-small: 780px;
$break-normal: 980px;
$break-wide: 1200px;

// COLORS
$blue-primary: #002b5b;
$gray-primary: #2b4865;
$sky-primary: #256d85;
$lemon-primary: #8fe3cf;
$main-grey: rgb(94, 108, 132);