// SETUP
@import 'setup/normalize';
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'basics/base';
@import 'basics/layout';

// COMPONENTS
@import 'components/App';
@import 'components/AppHeader';
@import 'components/UploadFile';
@import 'components/SongList';